* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}

.bar {
  background-color: #172e7c;
  overflow: hidden;
  border-right: 2px solid #e9ecef;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.bar a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.bar a:hover {
  background-color: #00008B;
  color: white;
}

.logo-usta{
  width: 135px;
  margin-top: 330px;
}

.main-content {
  background-color: white;
  padding: 20px;
  width: 79%;
  margin: 0 auto;
  margin-top: 30px;
  margin-right: 90px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 10px 0;
}

.code-form {
  margin-left: 100px;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: black;
    margin-bottom: 15px;
}

.card {
    background-color: white;
    width: 400px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 150px;
    margin-bottom: center;
    margin-left: center;
    margin-right: center;
}

.container {
    padding: 20px;
}

.container h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.container p {
    margin-bottom: 5px;
    font-size: 16px;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #007bff;
}
.social-links img {
    width: 30px;
    height: auto;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #333;
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #333;
  color: #fff;
}

.secondary-button {
  border-color: #555;
  color: #555;
}

.secondary-button:hover {
  background-color: #555;
  color: #fff;
}