{% include "header.html" %}
<div class="card">
    <div class="container">
        <h2>Santiago Sánchez Márquez</h2>
        <p>Amateur Developer</p>
        <p>Email: santiagosanchezmarquez@gmail.com</p>
        <p>Phone: +57 3229426989</p>
        <div class="social-links">
             <a href="https://www.instagram.com/sanchx_s/" target="_blank"><img src="static/images/instagram.jpg" alt="Instagram"></a>
            <a href="https://github.com/Sanchochx" target="_blank"><img src="static/images/github.png" alt="GitHub"></a>
        </div>
    </div>
</div>
{% include "footer.html" %}
