{% include "header.html" %}

<div class="main-content">
  <h2>Programación Lineal</h2>
    <br>
    <p>La programación lineal es un método de optimización que se utiliza para encontrar la mejor solución a un problema matemático, sujeto a un conjunto de restricciones lineales.
    Se aplica en situaciones donde se busca maximizar o minimizar una función lineal (llamada función objetivo) sujeta a restricciones lineales, como recursos limitados o capacidades específicas.
    La programación lineal encuentra una solución óptima utilizando algoritmos específicos, como el método simplex, método de la gran M o método de dos fases y es ampliamente utilizada en campos como la economía, la ingeniería, la gestión de operaciones y la logística para resolver problemas de asignación de recursos y planificación.
    Para resolver problemas de programación lineal utilizando Python, podemos aprovechar bibliotecas especializadas como PuLP. </p>
    <br>
    <h2>PuLP</h2>
    <br>
    <p>PuLP es una biblioteca de optimización lineal y entera escrita en Python que proporciona una interfaz intuitiva para definir y resolver problemas de programación lineal.</p>
    <br>
    <p>En la pestaña de <a href="{{ url_for('index') }}">Calculadora</a>, puedes ingresar a un módulo totalmente gratis el cuál resuelve cualquier problema de programación lineal.</p>
    <br>
  <a href="https://github.com/Sanchochx/linear-programming-project-flask"><h2>Repositorio de Github.</h2></a>
</div>

{% include "footer.html" %}